
<div>


    <!-- JQGrid layout for the project details-->

    <div>
        <table id="grid"></table>
        <div id="pager"></div>
    </div>

    <div id="editprojectdetaildialog">

    </div>

    <div class="contextMenu" id="contextMenu1" style="display:none; width:200px;">
        <ul style="width: 200px; font-size: 65%;">
            <li id="view">
                <span class="ui-icon ui-icon-triangle-1-e" style="float:left"></span>
                <span style="font-size:130%; font-family:Verdana">View</span>
            </li>
            <li id="edit">
                <span class="ui-icon ui-icon-pencil" style="float:left"></span>
                <span style="font-size:130%; font-family:Verdana">Update</span>
            </li>
            <li id="del">
                <span class="ui-icon ui-icon-trash" style="float:left"></span>
                <span style="font-size:130%; font-family:Verdana">Delete </span>
            </li>
        </ul>
    </div>


</div>

@section Scripts {
    <script src="/Scripts/jquery.contextMenu.min.js" type="text/javascript"></script>
    <script type="text/javascript">

    </script>
}