
<div>


    <!-- JQGrid layout for the project details-->

    <div>
        <table id="grid"></table>
        <div id="pager"></div>
    </div>

    <div id="editprojectdetaildialog">

    </div>

    <div class="contextMenu" id="contextMenu1" style="display:none; width:100px;">
        <ul style=" font-size: 65%;">
            <li id="view">
                <span class="fa fa-eye" style="float:left"></span>
                <span style="font-size:130%; font-family:Verdana">View</span>
            </li>
            @if (Convert.ToString(Session["role"]) != "Member")
            {
                <li id="edit">
                    <span class="ui-icon ui-icon-pencil" style="float:left"></span>
                    <span style="font-size:130%; font-family:Verdana">Update</span>
                </li>
                <li id="del">
                    <span class="ui-icon ui-icon-trash" style="float:left"></span>
                    <span style="font-size:130%; font-family:Verdana">Delete </span>
                </li>
            }

        </ul>
    </div>


</div>


 