@model CompanyPortal.ViewModels.ProjectViewModel

<div>
    <h4>Project Details</h4>
    <!-- JQGrid layout for the project details-->
    <div>
        <table id="grid"></table>
        <div id="pager"></div>
    </div>

</div>


<script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>

<script src="~/lib/js/mygrid.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
