
<div>


    <!-- JQGrid layout for the project details-->

    <div>
        <table id="grid"></table>
        <div id="pager"></div>
    </div>

    <div id="editprojectdetaildialog">

    </div>

    <div class="contextMenu" id="contextMenu" style="display:none; width:400px;">
        <ul style="width: 400px; font-size: 65%;">
            <li id="view">
                <span class="ui-icon ui-icon-triangle-1-e" style="float:left"></span>
                <span style="font-size:130%; font-family:Verdana">View</span>
            </li>
            <li id="edit">
                <span class="ui-icon ui-icon-pencil" style="float:left"></span>
                <span style="font-size:130%; font-family:Verdana">Update</span>
            </li>
            <li id="del">
                <span class="ui-icon ui-icon-trash" style="float:left"></span>
                <span style="font-size:130%; font-family:Verdana">Delete </span>
            </li>
        </ul>
    </div>


</div>


<script type="text/javascript">

</script>
