

@{ 
    Layout= "~/Views/Shared/_LayoutPage.cshtml";
}

<section class="inner-page-banner">


</section>


<section class="about">
    <div class="col-md-5 setpadding d-inline-block">
        <h2><b>About Us</b></h2>
        <div>Dummy Data</div>
    </div>
    <div class="col-md-5 d-inline-block">
        <img class="img-thumbnail">
    </div>
</section>



