
<div>
    <div class="row backbtnCss" style="display:none" id="btnBack" >
        <div class="col-md-2" style="right:0">
            <Button href="#" onclick="BackToEmpDetails()"  ><span>Back</span></Button>
        </div>
    </div>

    <!-- JQGrid layout to show Attendence-->


    <div>
        <table id="AttendGrid"></table>
        <div id="AttendPager"></div>
    </div>

</div>
