@model CompanyPortal.ViewModels.ProjectViewModel

<div class="container">
    <div class="row" style="height:10px">
        <hr />
    </div>
    <div class="empdata projData">
        <div class="row">
            <label class="col-4 offset-1 text-left font-weight-bold">
                Project Name:
            </label>
            <label class="col-5 offset-1 text-left font-weight-bold">
                @Html.DisplayFor(model => model.Project_Name)
            </label>
        </div>
        <div class="row">
            <label class="col-4 offset-1 text-left font-weight-bold">Manager Id:</label>

            <label class="col-5 offset-1 text-left">
                @Html.DisplayFor(model => model.Mgr_Id)
            </label>
        </div>

        <div class=" row">
            <label class="col-4 offset-1 text-left font-weight-bold">Project Status:</label>

            <label class="col-5 offset-1 text-left">
                @Html.DisplayFor(model => model.Status)
            </label>

        </div>


        <div class=" row">
            <label class="col-4 offset-1 text-left font-weight-bold"> Project Description:</label>

            <label class="col-5 offset-1 text-left">
                @Html.DisplayFor(model => model.Description)
            </label>

        </div>

    </div>
</div>





