

@{
    ViewBag.Title ="CompanyPortal-"+ Session["username"];
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



<div class="container">

    <div class="row">

        @if (Convert.ToString(Session["role"]) == "Member")
        {

            Html.RenderAction("MemberPartial");

        }
        else if (Convert.ToString(Session["role"]) == "P_Manager")
        {
            Html.RenderAction("ProjManagerPartial");
        }
        else if (Convert.ToString(Session["role"]) == "R_Manager")
        {
            Html.RenderAction("RepManagerPartial");
        }
        else
        {
            Html.RenderAction("AdminPartial");
        }

    </div>

</div>




